.instructions ul,
.instructions li {
    margin: 0;
    list-style: none;
    display: flex;
    padding: 8px;
    overflow: auto;
}

.react-beautiful-dnd-copy {
    background: gray;
    padding: 16px;
    margin: 0 0 8px 0;
}

.react-beautiful-dnd-copy ~ [data-rbd-placeholder-context-id] {
    display: none !important;
}